/FactoryMethod1/dist/
/factorymethod2/build/
/factorymethod2/dist/
/factorymethod2/nbproject/private/
/factorymethod3/nbproject/private/
/factorymethod3/build/
/factorymethod3/dist/
/blok/dist/
/abstractfactory2/nbproject/private/
/AbstractFactory/AbstractFactory1/build/
/AbstractFactory/AbstractFactory1/dist/
/AbstractFactory/AbstractFactory1/nbproject/private/
/AbstractFactory/abstractfactory2/nbproject/private/
/AbstractFactory/abstractfactory2/build/
/AbstractFactory/abstractfactory2/dist/
/abstractfactory3/nbproject/private/
/abstractfactory3/dist/
/abstractfactory3/build/
/AbstractFactory/abstractfactory3/build/
/AbstractFactory/abstractfactory3/dist/
/AbstractFactory/abstractfactory3/nbproject/private/